{% load staticfiles %}
{% load i18n %}

<div class="header py-4">
    <div class="container">
        <div class="d-flex">
            <a class="header-brand" href="/">
                <img src="{% static 'assets/images/logo.svg' %}" class="header-brand-img" alt="{{ app_name }}">
            </a>
            <div class="d-flex order-lg-2 ml-auto">
                <div class="dropdown">
                    <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
                        <span class="avatar" style="background-image: url({{ user_avatar }})"></span>
                        <span class="ml-2 d-none d-lg-block">
                            <span class="text-default">{{ user_first_name }} {{ user_last_name }}</span>
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                        <a class="dropdown-item" href="{% url 'app.web.admin.dashboard' %}">
                            <i class="dropdown-icon fe fe-pie-chart"></i> {% trans "Dashboard" %}
                        </a>
                        <a class="dropdown-item" href="{% url 'app.web.admin.profile' %}">
                            <i class="dropdown-icon fe fe-user"></i> {% trans "Profile" %}
                        </a>
                        <a class="dropdown-item" href="{% url 'app.web.admin.settings' %}">
                            <i class="dropdown-icon fe fe-settings"></i> {% trans "Settings" %}
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'app.web.admin.logout' %}">
                            <i class="dropdown-icon fe fe-log-out"></i> {% trans "Logout" %}
                        </a>
                    </div>
                </div>
            </div>
            <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
                <span class="header-toggler-icon"></span>
            </a>
        </div>
    </div>
</div>