{% load staticfiles %}
{% load i18n %}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">{% trans "Pull Image" %}</h3>
        <div class="card-options">

        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <form id="host_create" class="card _endpoint_connect" onsubmit="return false" action="{% url 'app.api.private.v1.admin.action.host.pull_image.endpoint' host.id %}" data-succ-type="reset" method="post">
            {% csrf_token %}
            <div class="card-status bg-green"></div>
            <div class="card-body">
                <div class="dimmer">
                    <div class="loader"></div>
                    <div class="dimmer-content">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label class="form-label">{% trans "Image" %}</label>
                                    <select name="repository" id="select-beast" class="form-control custom-select" placeholder="Start Typing...">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="custom-switch">
                                        <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input">
                                        <span class="custom-switch-indicator"></span>
                                        <span class="custom-switch-description">I can't find the image!</span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">{% trans "Specific Image" %}</label>
                                    <input type="text" class="form-control" name="name" placeholder="ubuntu:18.04">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-right">
                <div class="d-flex">
                    <button type="submit" class="btn btn-primary btn-sm ml-auto">{% trans "Pull" %}</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
require(['jquery', 'selectize'], function ($, selectize) {
    $(document).ready(function () {
        $('#select-beast').selectize({});
    })
})
</script>