{% load staticfiles %}
{% load i18n %}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">{% trans "Pull Image" %}</h3>
        <div class="card-options">

        </div>
    </div>
</div>
<div class="row" id="host_images_pull">
    <div class="col-12">
        <form class="card" v-on:submit.prevent="pullHostImageAction" action="{% url 'app.api.private.v1.admin.action.host.pull_image.endpoint' host.id %}" method="post">
            {% csrf_token %}
            <div class="card-status bg-green"></div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="form-group">
                            <label class="form-label">{% trans "Image name" %}</label>
                            <input type="text" class="form-control" name="image_name" placeholder="ubuntu:18.04">
                            <div class="form-text text-muted">{% trans "Note: if you don't specify the tag in the image name, latest will be used." %}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-right">
                <div class="d-flex">
                    <button type="submit" class="btn btn-primary ml-auto" v-bind:class="{ 'btn-loading': isInProgress }" v-bind:disabled="isInProgress">{% trans "Pull" %}</button>
                </div>
            </div>
        </form>
    </div>
</div>