{% extends 'layouts/base.html' %}
{% load staticfiles %}
{% load i18n %}


{% block content %}
    <div class="page-main">
        {% include 'partials/top-menu.html' %}
        <div class="my-3 my-md-5">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="card">
                            <table class="table card-table">
                                <tbody>
                                    <tr>
                                        <td width="1"><i class="fe fe-rss text-muted"></i></td>
                                        <td>
                                            <a href="{% url 'app.web.admin.hosts.view' host.slug %}">{% trans "Statistics" %}</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><i class="fe fe-layers text-muted"></i></td>
                                        <td>
                                            <a href="{% url 'app.web.admin.hosts.view.containers' host.slug %}">{% trans "Containers" %}</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><i class="fe fe-droplet text-muted"></i></td>
                                        <td>
                                            <a href="{% url 'app.web.admin.hosts.view.images' host.slug %}">{% trans "Images" %}</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><i class="fe fe-shield text-muted"></i></td>
                                        <td>
                                            <a href="{% url 'app.web.admin.hosts.view.networks' host.slug %}">{% trans "Networks" %}</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><i class="fe fe-hard-drive text-muted"></i></td>
                                        <td>
                                            <a href="{% url 'app.web.admin.hosts.view.volumes' host.slug %}">{% trans "Volumes" %}</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><i class="fe fe-activity text-muted"></i></td>
                                        <td>
                                            <a href="{% url 'app.web.admin.hosts.view.actions' host.slug %}">{% trans "Actions" %}</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-9">
                        {% include "templates/admin/hosts/docker/partials/"|add:screen|add:".html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'partials/bottom-menu.html' %}

{% endblock %}