{% extends 'layouts/landing.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
		<section class="welcome">
			<div class="container">
				<div class="welcome-header">
					<img src="{% static 'assets/images/logo.png' %}" width="100"><br/><br/>
					<p class="welcome-description">{% trans "A SaaS Docker Management Dashboard." %}</p>

					<div class="mt-6">
						<a href="{% url 'app.web.register' %}" class="btn btn-green">{% trans "Register" %}</a>
						<a href="{% url 'app.web.login' %}" class="btn btn-green">{% trans "Login" %}</a>
					</div>
				</div>
			</div>
		</section>
		<section class="section pt-7">
			<div class="container">
				<h2 class="section-title">{% trans "Features" %}</h2>
				<p class="section-description mb-6">
					{% trans "Kraven comes with tons of well crafted features." %}
				</p>

				<div class="features">
					<div class="feature">
						<div class="feature-image">
							<img src="{% static 'assets/images/placeholder.png' %}" alt="">
						</div>
						<div class="feature-description">
							<h3 class="feature-name">{% trans "Manage Docker Environments" %}</h3>
							<p>{% trans "Now you have one place to manage all different docker environments or swarm clusters! It allows you to manage your docker containers, images, volumes, networks and much more!" %}</p>
						</div>
					</div>
					<div class="feature">
						<div class="feature-image">
							<img src="{% static 'assets/images/placeholder.png' %}" alt="">
						</div>
						<div class="feature-description">
							<h3 class="feature-name">{% trans "Easy to Install and Manage" %}</h3>
							<p>{% trans "Auto Installer, Admin management page to control application global settings, Prometheus integration for metrics , docker compose file to run the Application, Workers, RabbitMQ, Redis, Prometheus and Grafana!" %}</p>
						</div>
					</div>
					<div class="feature">
						<div class="feature-image">
							<img src="{% static 'assets/images/placeholder.png' %}" alt="">
						</div>
						<div class="feature-description">
							<h3 class="feature-name">{% trans "Asynchronous Everything" %}</h3>
							<p>{% trans "Everything is Asynchronous with ability to run any number of workers to scale. It can run as centralized or distributed application." %}</p>
						</div>
					</div>
					<div class="feature">
						<div class="feature-image">
							<img src="{% static 'assets/images/placeholder.png' %}" alt="">
						</div>
						<div class="feature-description">
							<h3 class="feature-name">{% trans "Well Secured" %}</h3>
							<p>{% trans "Two layers of encryption to secure your hosts." %}</p>
						</div>
					</div>
					<div class="feature">
						<div class="feature-image">
							<img src="{% static 'assets/images/placeholder.png' %}" alt="">
						</div>
						<div class="feature-description">
							<h3 class="feature-name">{% trans "Open Source Code" %}</h3>
							<p>{% trans "You can see the code of Kraven on GitHub. If you miss any feature feel free to create a pull request there, we'll definitely check it." %}</p>
							<div class="mt-5">
								<a href="https://github.com/Clivern/Kraven" class="btn btn-small btn-outline-dark">{% trans "View source code" %}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="section section-action">
			<div class="container">
				<h2 class="section-title">{% trans "Ready to Run Your Own?" %}</h2>
				<p class="section-description">{% trans "Set up Your Own Self-hosted Instance In a Couple of Minutes!" %}</p>
				<div class="mt-4">
					<a href="https://github.com/Clivern/Kraven#installation" class="btn btn-green" target="_blank">{% trans "Download" %}</a>
				</div>
			</div>
		</section>

		<footer class="footer">
			<div class="container">
				<div class="row align-items-center text-center">
					<div class="col-md-auto">
						{% trans "Copyright" %} &#169; {% now "Y" %} <a href="{{ AUTHOR_URL }}">{{ AUTHOR }}</a>. {% trans "All Rights Reserved." %}
					</div>
				</div>
			</div>
		</footer>

		<script src="{% static 'assets/js/vendors/jquery-3.3.1.slim.min.js' %}"></script>

{% endblock %}